<h1>Decks</h1>
<!--<div class="row">
    <div class="col-sm-1">R: {{ourCube.redCards}}</div>
    <div class="col-sm-1">W: {{ourCube.whiteCards}}</div>
    <div class="col-sm-1">U: {{ourCube.blueCards}}</div>
    <div class="col-sm-1">G: {{ourCube.greenCards}}</div>
    <div class="col-sm-1">B: {{ourCube.blackCards}}</div>
    <div class="col-sm-1">A: {{ourCube.artifactCards}}</div>
    <div class="col-sm-1">L: {{ourCube.landCards}}</div>
</div>-->
<!--<button class="btn" (click)="downloadButtonPush()">Download CSV</button>-->



<!--<button class="btn" (click)="getDecks('Charlie')">Charlie's Decks</button>-->
<!--<table class='table' *ngIf="decks">
    <thead>
        <tr>
            <th>Deck Name</th>
            <th>Colors?</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let deck of decks">
            <td>{{ deck.name }}</td>
            <td>{{ deck.color1 }}</td>
            <td><button class="btn" (click)="getDeckCards(deck.partitionKey, deck.name)">Get Deck Cards</button></td>

            <td>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" *ngFor="let card of deckCards">
                        {{card.name}}
                    </a>
                </div>
            </td>

        </tr>
    </tbody>
</table>-->

<div class="row">
    <div class="col-sm-6">
        <select class="form-control" [(ngModel)]="deckOwner" (change)="getDecks(deckOwner)">
            <option *ngFor="let player of players" value="{{player.name}}">{{player.name}}</option>
        </select>
        <input type="text" [(ngModel)]="deckName" id="search" placeholder="DeckName">
        <button [disabled]="!deckOwner || !deckName" class="btn" (click)="createNewDeck()">Add New Deck</button>
    </div>
    <div class="col-sm-6">
        <ul class="list-group" *ngIf="_deckService.decks" style="max-height:200px;overflow:auto;">
            <li *ngFor="let deck of _deckService.decks" class="list-group-item">
                <a style="display:block;text-decoration:none;" (click)="getDeckCards(deck.name)">{{deck.name}}</a>
                <!--<button type="button" class="btn" (click)="getDeckCards(deck.name)">Get Cards</button>-->
            </li>
        </ul>
    </div>
</div>

<hr style="margin-top:10px;margin-bottom:10px;" />

<div class="row">
    <div class="col-sm-6"  *ngIf="selectedDeck.name != ' '">
        <input type="text" (keyup.enter)="getCard(setQuery)" [(ngModel)]="setQuery" id="search" placeholder="Search for a Card">
        <button (click)="getCard(setQuery)" class="btn">Search Cards</button>
        <div class="row" style="margin-top:15px;" *ngFor="let card of scryfallService.returnCards | cardNameFilter: queryString">
            <div class="card mb-3" style="margin-bottom:25px;">
                <div class="row no-gutters">
                    <div class="col-sm-4 col-md-2">
                        <img src={{card.image_Small}} class="card-img" alt={{card.name}}>
                    </div>
                    <div class="col-sm-8 col-md-8 pull-left">
                        <div class="card-body">
                            <h3 class="card-title">{{card.name}}</h3>
                            <span class="mana" *ngFor="let mana of card.full_cost" style="margin-bottom:5px;">
                                <p style="position:absolute;margin-left:1px;margin-top:1px;" *ngIf="isDigit(mana)">{{mana}}</p>
                                <img style="height:15px;width:15px;margin-left:-3px;" [src]="getPath(mana)" />
                            </span>
                            <p class="card-text">{{card.card_Text}}</p>
                            <p class="card-text"></p>
                            <a *ngIf="!card.added" (click)="addCardToDeck(card)" class="btn btn-sm btn-primary">Add to Deck</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row" *ngIf="selectedDeck.name != ' '">
            <div class="col-md-2">
                {{selectedDeck.name}}
            </div>
            <div class="col-md-2">
                {{selectedDeck.cardCount}}/60 cards
            </div>
        </div>
        <table class='table' *ngIf="deckCards[0]">
            <thead>
                <tr>
                    <th>#</th>
                    <th><input type="text" [(ngModel)]="queryString" id="search" placeholder="Search"></th>
                    <th>Colors</th>
                    <!--<th><input type="text" [(ngModel)]="cardTextString" id="cardTextSearch" placeholder="Search"></th>-->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of deckCards | cardNameFilter: queryString | cardTextFilter: cardTextString; let i = index">
                    <td>
                        <div class="row">
                            <a class="btn btn-sm" (click)="incrementDeckCard(card)"><i class="glyphicon-plus"></i></a>
                            <h4>{{card.numberInDeck}}</h4>
                            <a class="btn btn-sm" (click)="decrementDeckCard(card)"><i class="glyphicon-minus"></i></a>
                        </div>
                    </td>
                    <td><h4>{{card.cardName}}</h4></td>
                    <td>
                        <div style="margin-top:-5px;">
                            <mana-cost [mana]="card.mana_Cost"></mana-cost>
                        </div>
                    </td>
                    <!--<td>{{card.card_Text}}</td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<table class='table' *ngIf="_deckService.decks">
    <thead>
        <tr>
            <th><input type="text" [(ngModel)]="queryString" id="search" placeholder="Search"></th>
            <th>Colors</th>
            <th><input type="text" [(ngModel)]="cardTextString" id="cardTextSearch" placeholder="Search"></th>
            <th>In collection</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let card of deckCards | cardNameFilter: queryString | cardTextFilter: cardTextString; let i = index">
            <td>{{card.name}}</td>
            <td>{{card.color1}}</td>
            <td>{{card.card_Text}}</td>
            <td>{{card.numberInCollection}}</td>
        </tr>
    </tbody>
</table>-->
