body {
    color:#f5f5f5!important;
    background-color:#000000!important;
}


.list-group-hover .list-group-item:hover {
    background-color: #f5f5f5;
}

.hoveredDeck{
    background-color:#dddddd!important;
    cursor:pointer;
}

.hoveredPlayer {
    background-color: #dddddd;
    cursor: pointer;
}

.selectedDeck{
    background-color:#cacaca!important;
}

.selectedPlayer {
    background-color: #cacaca
}

.hoveredCard {
    background-color: #dddddd;
    cursor: pointer;
}

img {
    border-radius: calc(1.7rem - 3px) !important;
}