<h2>Get Cards from Scryfall</h2>

<input type="text" [(ngModel)]="setQuery" id="search" placeholder="Search for a Set">
<button (click)="getSetCards(setQuery)" class="btn">Get Cards</button>

<table class='table'>
    <thead>
        <tr>
            <th><input type="text" [(ngModel)]="queryString" id="search" placeholder="Search Cards"></th>
            <th>Collected</th>
            <th>Color 1</th>
            <th>Color 2</th>
            <th>Rarity</th>
            <th>Mana Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let card of cards | cardNameFilter: queryString" (click)="addCard(card)">
            <td><button *ngIf="!card.added" class="btn-sm" (click)="addCard(card)">+</button> {{ card.name }} </td>
            <td>{{ card.colors[0] }}</td>
            <td>{{ card.colors[1] }}</td>
            <td>{{ card.rarity }}</td>
            <td>{{ card.mana_cost }}</td>
        </tr>
    </tbody>
</table>
