<div class="container-fluid">
    <h1>Collection</h1>

    <p *ngIf="!_httpCardService.cards[1]"><em>Loading...</em></p>

    <div class="row" style="margin-bottom:25px;">

        <div class="col-sm-6">
            <select [(ngModel)]="rarityString" value="Rarity">
                <option value="">All</option>
                <option value="mythic">Mythic</option>
                <option value="rare">Rare</option>
                <option value="uncommon">Uncommon</option>
                <option value="common">Common</option>
            </select>

            <input type="text" [(ngModel)]="queryString" id="search" placeholder="Search">
        </div>
        <div style="margin-top:5px;" class="col-sm-6 pull-left">
            <a (click)="setFilter('G')" *ngIf="!greenFilter"><img src="../../assets/magic-mana-small/mana_g.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('G')" *ngIf="greenFilter"><img src="../../assets/magic-mana-embossed/mana_g.png" style="height:25px;width:25px;" /></a>

            <a (click)="setFilter('R')" *ngIf="!redFilter"><img src="../../assets/magic-mana-small/mana_r.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('R')" *ngIf="redFilter"><img src="../../assets/magic-mana-embossed/mana_r.png" style="height:25px;width:25px;" /></a>

            <a (click)="setFilter('U')" *ngIf="!blueFilter"><img src="../../assets/magic-mana-small/mana_u.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('U')" *ngIf="blueFilter"><img src="../../assets/magic-mana-embossed/mana_u.png" style="height:25px;width:25px;" /></a>

            <a (click)="setFilter('B')" *ngIf="!blackFilter"><img src="../../assets/magic-mana-small/mana_b.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('B')" *ngIf="blackFilter"><img src="../../assets/magic-mana-embossed/mana_b.png" style="height:25px;width:25px;" /></a>

            <a (click)="setFilter('W')" *ngIf="!whiteFilter"><img src="../../assets/magic-mana-small/mana_w.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('W')" *ngIf="whiteFilter"><img src="../../assets/magic-mana-embossed/mana_w.png" style="height:25px;width:25px;" /></a>
        </div>
    </div>


    <!--<div>
        <div class="list-group">
            <div class="row" *ngFor="let card of _httpCardService.cards | cardRarityFilter: rarityString | cardTextFilter: queryString; let i = index" >
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>{{card.name}}</h2>
                        </div>
                        <div class="col-sm-2">
                            <mana-cost [mana]="card.mana_Cost"></mana-cost>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="card-text">{{card.card_Text}}</p>
                        </div>
                        <div class="col-sm-4">
                            <a (click)="addCard(card)" class="btn btn-sm btn-primary">Add to Deck</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-4">
                            <h4 style="float:left;margin-right:10px;font-weight:bolder;">{{ card.numberInCollection }}</h4>
                            <button type="button" (click)="incrementCardCount(card)" class="btn btn-sm">+</button>
                            <button type="button" (click)="decrementCardCount(card)" class="btn btn-sm ">-</button>
                        </div>
                        <div class="col-xs-2">

                        </div>
                    </div>
                </div>
                <div class="col-sm-1 pull-left">
                    <p *ngIf="card.numberInCollection > 0">
                        <button type="button" (click)="removeCard(card)" class="btn btn-sm btn-danger">Delete Card</button>
                    <p *ngIf="card.numberInCollection < 1">Card Removed</p>
                </div>
                <hr />
            </div>
        </div>
    </div>-->


    <div class="row">
        <div class="col-sm-3" *ngFor="let card of _httpCardService.cards | cardRarityFilter: rarityString | cardTextFilter: queryString; let i = index">
            <div class="card" style="width: 18rem;margin:5%;">
                <img class="card-img-top" src={{card.image_Normal}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{card.name}}</h5>
                    <mana-cost [mana]="card.mana_Cost"></mana-cost>
                    <p class="card-text">{{card.card_Text}}</p>
                    <h4 style="float:left;margin-right:10px;font-weight:bolder;">{{ card.numberInCollection }} - ${{card.price}}</h4>
                    <a href="#" (click)="addCard(card)" class="btn btn-primary">Add to Deck</a>
                </div>
            </div>
        </div>
    </div>
</div>