<div class="container-fluid">
    <h1>Collection</h1>

    <p *ngIf="!_httpCardService.cards[1]"><em>Loading...</em></p>

    <div class="row" style="margin-bottom:25px;">

        <div class="col-sm-6">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <select class="form-control" [(ngModel)]="rarityString" value="Rarity" name="rarityQuery">
                        <option value="">Select Rarity</option>
                        <option value="mythic">Mythic</option>
                        <option value="rare">Rare</option>
                        <option value="uncommon">Uncommon</option>
                        <option value="common">Common</option>
                    </select>

                    <input class="form-control" type="text" id="searchCollection1" [(ngModel)]="queryString" placeholder="Search Collection" name="searchQuery">
                </div>
            </form>

            <h4 *ngIf="collectionValue != ''" >Collection Value ${{collectionValue}}</h4>
        </div>
        <div style="margin-top:5px;" class="col-sm-6 pull-left">
            <a (click)="setFilter('G')" *ngIf="!greenFilter"><img src="../../assets/magic-mana-small/mana_g.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('G')" *ngIf="greenFilter"><img src="../../assets/magic-mana-embossed/mana_g.png" style="height:25px;width:25px;" /></a>

            <a (click)="setFilter('R')" *ngIf="!redFilter"><img src="../../assets/magic-mana-small/mana_r.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('R')" *ngIf="redFilter"><img src="../../assets/magic-mana-embossed/mana_r.png" style="height:25px;width:25px;" /></a>

            <a (click)="setFilter('U')" *ngIf="!blueFilter"><img src="../../assets/magic-mana-small/mana_u.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('U')" *ngIf="blueFilter"><img src="../../assets/magic-mana-embossed/mana_u.png" style="height:25px;width:25px;" /></a>

            <a (click)="setFilter('B')" *ngIf="!blackFilter"><img src="../../assets/magic-mana-small/mana_b.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('B')" *ngIf="blackFilter"><img src="../../assets/magic-mana-embossed/mana_b.png" style="height:25px;width:25px;" /></a>

            <a (click)="setFilter('W')" *ngIf="!whiteFilter"><img src="../../assets/magic-mana-small/mana_w.png" style="height:25px;width:25px;" /></a>
            <a (click)="setFilter('W')" *ngIf="whiteFilter"><img src="../../assets/magic-mana-embossed/mana_w.png" style="height:25px;width:25px;" /></a>
        </div>
    </div>


    <!--<div>
        <div class="list-group">
            <div class="row" *ngFor="let card of _httpCardService.cards | cardRarityFilter: rarityString | cardTextFilter: queryString; let i = index" >
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>{{card.name}}</h2>
                        </div>
                        <div class="col-sm-2">
                            <mana-cost [mana]="card.mana_Cost"></mana-cost>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="card-text">{{card.card_Text}}</p>
                        </div>
                        <div class="col-sm-4">
                            <a (click)="addCard(card)" class="btn btn-sm btn-primary">Add to Deck</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-xs-4">
                            <h4 style="float:left;margin-right:10px;font-weight:bolder;">{{ card.numberInCollection }}</h4>
                            <button type="button" (click)="incrementCardCount(card)" class="btn btn-sm">+</button>
                            <button type="button" (click)="decrementCardCount(card)" class="btn btn-sm ">-</button>
                        </div>
                        <div class="col-xs-2">

                        </div>
                    </div>
                </div>
                <div class="col-sm-1 pull-left">
                    <p *ngIf="card.numberInCollection > 0">
                        <button type="button" (click)="removeCard(card)" class="btn btn-sm btn-danger">Delete Card</button>
                    <p *ngIf="card.numberInCollection < 1">Card Removed</p>
                </div>
                <hr />
            </div>
        </div>
    </div>-->

    <notification *ngIf="_httpCardService.errorText != ''" [alert]="_httpCardService.errorText" ></notification>

    <div class="row">
        <div class="col" *ngFor="let card of _httpCardService.cards | cardRarityFilter: rarityString | cardTextFilter: queryString; let i = index">
            <div class="card">
                <img class="card-img-top" style="background-color:transparent;" src={{card.image_Normal}} alt="Card image cap">
                <div class="card-body">
                    <div class="row" style="margin-left:1%;">
                        <h5 class="card-title">{{card.name}}</h5>
                    </div>
                    <div class="row" style="margin-left:2%;">
                        <mana-cost style="margin-right:10px;" [mana]="card.mana_Cost"></mana-cost>
                        <h4 style="margin-top: 4px;"> ${{card.price}}</h4>
                    </div>
                    <div class="row" style="margin-left:2%;">
                        <a (click)="incrementCardCount(card)" class="btn">+</a>
                        <h4 style="margin-top: 4px;">{{ card.numberInCollection }}</h4>
                        <a (click)="decrementCardCount(card)" class="btn">-</a>
                    </div>
                    <!--<p class="card-text">{{card.card_Text}}</p>-->
                    <!--<br />-->
                    <!--<button style="margin:auto;" (click)="addCard(card)" class="btn">Add to Deck</button>-->
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-success" (click)="_scryfallService.getCard(queryString)">Search For Card on Scryfall</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="margin-top:15px;" *ngFor="let card of _scryfallService.returnCards">
                    <div class="card mb-3" style="margin-bottom:25px;">
                        <div class="row no-gutters">
                            <div class="col-sm-4 col-md-4">
                                <img style="width:150px;" src={{card.image_Normal}} class="card-img" alt={{card.name}}>
                            </div>
                            <div class="col-sm-8 col-md-8 pull-left">
                                <div class="card-body">
                                    <h3 class="card-title">{{card.name}}</h3>
                                    <span class="mana" *ngFor="let mana of card.full_cost" style="margin-bottom:5px;">
                                        <p style="position:absolute;margin-left:1px;margin-top:1px;" *ngIf="isDigit(mana)">{{mana}}</p>
                                        <img style="height:15px;width:15px;margin-left:-3px;" [src]="getPath(mana)" />
                                    </span>
                                    <p class="card-text">{{card.card_Text}}</p>
                                    <p class="card-text"></p>
                                    <a (click)="addCard(card)" class="btn btn-primary">Add to Collection</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>